body{
    background-color: black !important;
}
.textstyle{
    color: white;
}
.head-text{
    position: relative;
    color:black;
}
    
    .center__text{
    position: absolute;
      top: 30%;
      left: 10%;
      
    
    }
    .center__textstatus{
        position: absolute;
          top: 40%;
          left: 10%;
          color: olivedrab;
          
        
        }
        .center__texts{
            position: absolute;
            top: 40%;
            left: 10%;
            color: black;
        }
      
   